<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">CureWell</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['doctor']" routerLinkActive="router-link-active">View Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['specialization']" routerLinkActive="router-link-active">View Specialisation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['today']" routerLinkActive="router-link-active">View Today's surgery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['add']" routerLinkActive="router-link-active">Add Doctor</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login/SignUp</button>
        </form>
      </div>
    </div>
  </nav>
  
