<h2 align="center"  style="margin-top: 2%;">
    View Specialization
  </h2>
  <div class="body">
    <div class="table-responsive">
  
      <table align="center" class="table" style="border:2px solid rgba(220,230,242,1);">
        <tr style="background-color:rgb(111, 185, 222); font-size:12pt">
          <th>Specialization Code</th>
          <th>Specialization Name</th>
          <th style="text-align:center" colspan="1">Action</th>
        </tr>
  
        <tr style="background-color:white">
          <!--Add your logic here-->
          <td>specialization code</td>
          <td>specialization name</td>
          <td><button class="btn" style="margin-left: 38%;" [routerLink]="['/doctor']" routerLinkActive="router-link-active" >View Doctors</button></td>
  </tr>
      </table>
  
    </div>
  </div>
  <div>
    <br />
    <h3 class="jumbotron" style="text-align:center;">No Specialization Available</h3>
  </div>
